@model dynamic

@{
	ViewBag.Title = "Wercs Test";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
	$(document).ready(function() {
		$("#reverseButton").click(function() {
			$.post
			("@Url.Action("ReverseText","Home")"
			, {textToReverse: $("#stringToReverse").val() }
			, function (data, status, jqxhr) {
				$("#stringReverseOutput").empty().append(data);
			}
			);
		});
	});
</script>

<div id="stringReverse">
	String reverse: 
	<button id="reverseButton">Reverse String</button>
	<input id="stringToReverse" value="My country ‘tis of thee."/>
	<br/>
	Output: <span id="stringReverseOutput"></span>
</div>

