/****** Object:  Table [dbo].[T_Languages]    Script Date: 04/28/2014 12:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [T_Languages](
	[F_Language] [varchar](2) NOT NULL,
	[F_Language_Name] [varchar](20) NULL,
	[F_Codepage] [varchar](5) NULL,
	[F_Date_Stamp] [datetime] NULL,
	[F_DATE_FORMAT] [varchar](25) NULL,
	[F_User_Updated] [varchar](15) NULL,
	[F_LCID] [real] NULL,
	[F_Special_Handling] [int] NULL,
	[F_Direction] [int] NULL,
	[F_TRANSLATION_SOURCE] [varchar](255) NULL,
	[F_RTF_ENCODING] [varchar](50) NULL,
	[F_HTML_ENCODING] [varchar](50) NULL,
	[F_RTF_CODEPAGE] [varchar](15) NULL,
	[F_RTF_FONT_ID] [int] NOT NULL,
 CONSTRAINT [PK_T_Languages] PRIMARY KEY CLUSTERED 
(
	[F_Language] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [T_Languages] ([F_Language], [F_Language_Name], [F_Codepage], [F_Date_Stamp], [F_DATE_FORMAT], [F_User_Updated], [F_LCID], [F_Special_Handling], [F_Direction], [F_TRANSLATION_SOURCE], [F_RTF_ENCODING], [F_HTML_ENCODING], [F_RTF_CODEPAGE], [F_RTF_FONT_ID]) VALUES (N'AR', N'ARABIC', N'178', CAST(0x00009E8500EFC90D AS DateTime), N'dd/MM/yy', N'ARLENEC', 1025, 45, 0, N'CEDW_ARABIC_DEC10.xls', N'windows-1256', N'UTF-8', NULL, 0)
INSERT [T_Languages] ([F_Language], [F_Language_Name], [F_Codepage], [F_Date_Stamp], [F_DATE_FORMAT], [F_User_Updated], [F_LCID], [F_Special_Handling], [F_Direction], [F_TRANSLATION_SOURCE], [F_RTF_ENCODING], [F_HTML_ENCODING], [F_RTF_CODEPAGE], [F_RTF_FONT_ID]) VALUES (N'BE', N'BRITISH ENGLISH', N'0', CAST(0x00009E8500EFE341 AS DateTime), N'dd-MMM-yyyy', N'ARLENEC', 2057, 0, 0, N'CEDW_BRIENG_DEC10.xls', NULL, N'UTF-8', NULL, 0)
INSERT [T_Languages] ([F_Language], [F_Language_Name], [F_Codepage], [F_Date_Stamp], [F_DATE_FORMAT], [F_User_Updated], [F_LCID], [F_Special_Handling], [F_Direction], [F_TRANSLATION_SOURCE], [F_RTF_ENCODING], [F_HTML_ENCODING], [F_RTF_CODEPAGE], [F_RTF_FONT_ID]) VALUES (N'BG', N'BULGARIA', N'204', CAST(0x00009E8500EFF524 AS DateTime), N'dd-MMM-yyyy', N'ARLENEC', 1026, 31, 0, N'CEDW_BULGAR_DEC10.xls', N'WINDOWS-1251', N'UTF-8', NULL, 0)
/****** Object:  Default [DF_T_LANGUAGES_F_RTF_FONT_ID]    Script Date: 04/28/2014 12:15:46 ******/
ALTER TABLE [T_Languages] ADD  CONSTRAINT [DF_T_LANGUAGES_F_RTF_FONT_ID]  DEFAULT ((0)) FOR [F_RTF_FONT_ID]
GO
